.config/calcurse/apts
.config/calcurse/todo
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/mpd/playlists
.config/ncmpcpp/error.log
.config/nvim/autoload/*
.config/nvim/plugged/*
